{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="hero">
        <h1>Öffentliches-Gut-Spiel</h1>
        <p>Willkommen zum öffentlichen Gut-Spiel!</p>
        
        <div class="btn-container">
            <a href="{{ url_for('create_game') }}" class="btn btn-large">Spiel erstellen</a>
            <a href="{{ url_for('join_game') }}" class="btn btn-large btn-secondary">Spiel beitreten</a>
        </div>
    </div>
</div>
{% endblock %}